---
# This is adding rules to the INPUT chain, without touching other firewall rules
# rules created by docker or fail2ban should not be interfered with.
- name: Create firewall directory.
  file:
    path: "/etc/firewall"
    state: directory
    mode: '0755'

- name: Copy script which adds IPtables rules.
  become: yes
  template:
    src: firewall_ipv4_rules.j2
    dest: "/etc/firewall/firewall_ipv4_rules.sh"
    mode: a+x

- name: Copy script which adds IP6tables rules.
  become: yes
  template:
    src: firewall_ipv6_rules.j2
    dest: "/etc/firewall/firewall_ipv6_rules.sh"
    mode: a+x


- name: Create systemd service to add Firewall IPv4 rules to iptables.
  copy:
    src: firewall_ipv4.service
    dest: "/etc/systemd/system/firewall_ipv4.service"
    force: yes
    owner: root
    group: root
    mode: '0755'
  notify:
    - reload systemd

- name: Create systemd service to add Firewall IPv6 rules to ip6tables.
  copy:
    src: firewall_ipv6.service
    dest: "/etc/systemd/system/firewall_ipv6.service"
    force: yes
    owner: root
    group: root
    mode: '0755'
  notify:
    - reload systemd

- name: Enable Firewall IPv4 rules (on startup).
  service:
    name: firewall_ipv4.service
    enabled: yes

- name: Enable Firewall IPv6 rules (on startup).
  service:
    name: firewall_ipv6.service
    enabled: yes
